@import '../../../sass/colors.scss';

.editor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__controls {
        display: flex;
        justify-content: flex-end;
        background-color: $light;
        align-items: center;
        padding: 8px;
    }
}
